<a href="https://colab.research.google.com/github/skxjisu/1234/blob/main/Colaboratory%EC%97%90_%EC%98%A4%EC%8B%A0_%EA%B2%83%EC%9D%84_%ED%99%98%EC%98%81%ED%95%A9%EB%8B%88%EB%8B%A4%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

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

In [ ]:
#1
a = int(input())
if a%2 == 1 :
  print("홀수입니다")
elif a ==  0 :
  print("0 입니다")
else :
  print("짝수입니다")

-3
홀수입니다

In [32]:
#2
a, b = map(int, input().split())
if a == b:
  print("두 수가 같습니다")
else :
  if a > b :
    print(a)
  else :
    print(b)

1 2
2

In [ ]:
#3 a, b = map(int, input().split())
if a == b:
  print("두 수가 같습니다 0 ")
else :
  if a > b :
    print(a-b)
  else :
    print(b-a)

In [ ]:
#4
a = int(input())
if 1<=a<=10 :
  print("OK")  
else :
  print("NOK")

In [ ]:
#5a = int(input())
if 1<a<0 :
  print("NOK")  
else :
  print("OK")

In [ ]:
#6. 입력된 실수가 [1~10) 사이이면 입력값의 2배 값을 출력하고, 그렇지 않으면 3배 값을 출력하는 프로그램을 작성하시오. 
a = int(input())

if 1<=a<10 :
  print(2*a)
else :
  print(3*a)

In [ ]:
#7
ad = input()
if "a"<=ad<="z" :
  print("소")
else :
  print("대")

a
소

In [ ]:
#8
ch = input()
if (ch == "y" or ch =="Y") :
  print(1)
else :
  print(0)

hh
0

In [ ]:
#9
ad = input()
if "a"<=ad<="z" :
  print("소")
elif "A"<=ad<="Z" :
  print("대")
else :
  print("기타")

In [ ]:
#10
a = int(input())

if 1<=a<=10 :
  if a%3 == 0 :
    print("nok")
  else :
    print("ok")
else :
  print("error")

In [ ]:
#11
n = int(input())

if n%2 == 1:
  print(n*(n+1)/2)
else :
  print((n+1)*n/2)

4
10.0

In [ ]:
#12
a=1
n=int(input())
for i in range(1,n+1):
 a=a*i

print(a)

3
6

In [ ]:
#13 두 정수 a, b를 입력받아 [a, b] 사이의 홀수의 개수와 합을 구하는 프로그램을 작성하시오.
a, b = map(int, input().split())
c = b-a+1
if c % 2 == 0:
  print(c)

In [25]:
#14
a=0
for i in range(1,101):
  if i%3 == 0 or i%5 == 0 :
    a= a+i
  if i%15 == 0 :
    a = a-i*2
print(a)

1788

In [28]:
#15
n=int(input())
list=[]
r = 100//n
for i in range(1,r+1) :
  list.append(i*n)

print(list, r)

15
[15, 30, 45, 60, 75, 90] 6

In [37]:
#16 1+2-3+4+5-6+7+8-9+...-99+100=?
s=3
for i in range(3,101) :
  s=s+((-1)**i)*i

print(s)

52

In [29]:
#17
s=0
for i in range(1,101) :
 s=s+i*(101-i)
print(s)

171700

In [ ]:
#18 5명의 학생에 대한 번호, 중간 기말 점수를 정수 값으로 입력받아 총점, 평균(소수 둘째자리까지), 학점을 구하여 출력하시오. 평균이 같은 학생은 없다고 가정

In [31]:
#19
a=int(input())
while a<0 or a>100 :
  a=int(input())

1

In [ ]:
#20. 임의의 정수를 하나 입력받아 그 수가 소수인지를 판별하는 프로그램을 작성하시오. 소수란 1과 자기 자신 이외에는 나누어지지 않는 수를 말한다
v=[1,n]
n=int(input())
for i in range(1,n+1):
  if n%i == 0:
    a.append(i)
if a == v :
  print("소수입니다")

else :
  print("소수가 아닙니다")